<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="csvLog.fileName">migrationLog</Property>
        <Property name="file-header">Time-Nanos, Time-Millis, Level, Thread ID, Thread Name, Thread Priority, Message, Logger-FQCN, Logger-Name, Marker, Thrown-Proxy, Source, Context-Map, Context-Stack</Property>
    </Properties>
    <Appenders>
        <RollingFile name="csvFile" 
                     fileName="logs/${csvLog.fileName}.csv"
                     filePattern="${csvLog.filename}-%d{MM-dd-yyyy}-%i.csv" >
            <CsvLogEventLayout delimiter="," header="${file-header}\n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy max="200" />
        </RollingFile>
   		<File name="analytics" fileName="logs/Analytics.log">
	      	<PatternLayout>
	        	<Pattern>%d, %m%n</Pattern>
	      	</PatternLayout>
    	</File>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <AppenderRef ref="csvFile" level="info"/>
        </Root>
        <Logger name = "Analytics" level = "info" additivity = "false">
	    	<AppenderRef ref= "analytics"/>
	    </Logger>
    </Loggers>
</Configuration>